body {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(54, 150, 150);
    text-decoration: underline;
     background-color: #9fc6fa;
     margin: 0;
     padding: 20px;
 }
 
 .header {
     text-align: center;
 }
 
 .board {
     display: flex;
     justify-content: space-evenly;
 }
 
 .column {
     background: rgba(255, 255, 255, 0.089);
     opacity: 1;
     border-radius: 8px;
     padding: 10px;
     width: 25%;
     box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1),
         inset 10px 10px 10px rgba(0, 0, 0, 0.1)
 }
 
 .column h2 {
     text-align: center;
 }
 
 .card-container {
     min-height: 100px;
     margin-bottom: 10px;
 }
 
 .card {
     background: #e1e1e1;
     margin: 5px 0;
     padding: 10px;
     border-radius: 5px;
     cursor: move;
 }
 .card-input {
     width: calc(100% - 22px);
     padding: 10px;
     border: 1px solid #cccccc31;
     opacity: 1;
     border-radius: 5px;
     background: rgba(255, 255, 255, 0.089);
 }
 
 .add-card {
     width: 100%;
     padding: 10px;
     margin-top: 5px;
     background: #79b2f0;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
 }
 
 .add-card:hover {
     background: #17d8e6;
 }